<div style="background-color:black;color:violet;padding:20px;font-size:xx-large;font-style:italic">
    <!-- <p >framework works!</p> -->
    <p>A room without books is like a body without a soul~</p> 
    <!-- <img src="https://pixabay.com/photos/book-read-old-literature-pages-1659717/" alt="bookHeader" height="" width=""> -->
</div>

<!-- implementing the menu -->
<span style="font-size: 30px; background-color: black; color:white;">
    <a routerLink = "">Home</a>&nbsp;&nbsp;
    <a routerLink = "about">AboutUs</a>&nbsp;&nbsp;
    <a routerLink = "create">CreateBook</a>&nbsp;&nbsp;
    <a routerLink = "alphabetic">FilterBooksAuthoredByGandhi</a>&nbsp;&nbsp;
   

</span>
<!-- <p><b><i>Click book name from the list of books(viewable by clicking the home page), to perform following operations:- 
    <ul>
        <li>see all details of that specific book</li>
        <li>to delete that specific book</li>
        <li>to update the specific book</li>
    </ul>
</i></b></p> -->
<router-outlet></router-outlet>

