<!-- <p>header works!</p> -->
<!-- <div style="background-color:white;color:teal;padding:20px;font-size:medium;font-style:italic;">
    <h2>How to use the above menu and site navigation details</h2>
    <ul>
        <li>Home links to home page, showing details of all books, Click each book name to
            <ul>(1)See all details of the specific book</ul>
            <ul>(2)Delete the specific book</ul>
            <ul>(3)Update any details of the specific book</ul>
        </li>
        <li>About link contains information about this website</li>
        <li>Click 'Create' link in menu bar above to create a new book</li>
    </ul>
</div> -->
<div class="row-banner"><div class="col-12">
<h1>{{content.title}}</h1>    
<p>{{content.body}}</p>
</div>
</div>
