<div style="background: cyan; color: black; font-weight: bold; font-size: large; padding: 10px"> 
    <p>This Booklist application is for the lover of books. The reader can use the 
        navigation menu bar at the top to exercise various options.</p>
    
        The home page by default displays the list of books, dynamically fetched from the MongoDB cloud database storage
        <br>
        <ul>
            <li>Click home to access the home page and view books listing at any time</li>
            <li>Once the book list is viewable at home page, You can delete the book directly from this page. Further click name of any indiviudal book to exercise the following options:-
                <ul>
                    <li>To see further details of that book</li>
                    <li>To delete that book</li>
                    <li>To update any fields of that book</li>
                </ul>
            </li>
        </ul>    
</div>



